html {
  position: relative;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr min-content;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: var(--color-light);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}

.centered {
  display: flex;
  justify-content: center;
}
