.button {
  --text-color: var(--text-light-color);
  --bg-color: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  white-space: nowrap;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius-xsm);
  @include transition(background-color, color, border-color);

  @include mobile {
    font-size: 12px;
  }

  &--accent {
    --bg-color: var(--btn-primary-color);

    @include focus {
      --bg-color: var(--btn-focus-color);
    }

    @include hover {
      --bg-color: var(--btn-hover-color);
    }

    &:active {
      --bg-color: var(--btn-active-color);
    }
  }

  &--transparent {
    --text-color: var(--text-accent-color);

    @include focus {
      --text-color: var(--btn-focus-color);
    }

    @include hover {
      --text-color: var(--btn-hover-color);
    }

    &:active {
      --text-color: var(--btn-active-color);
    }
  }

  &--icon {
    --text-color: var(--text-accent-color);

    @include focus {
      --text-color: var(--text-dark-color);
    }

    &:active {
      --text-color: var(--text-accent-secondary-color);
    }
  }
}
