.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image-link {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: var(--border-radius-sm);

    @include tablet {
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 10px;
    }

    @include focus {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-sm);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 15px;
    color: var(--text-dark-color);

    @include tablet {
      row-gap: 10px;
    }

    @include mobile {
      row-gap: 5px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    column-gap: 28px;

    @include tablet {
      column-gap: 16px;
    }
  }

  &__discounted-price {
    font-weight: 700;
    font-size: 28px;

    @include tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__non-discounted-price {
    font-weight: 400;
    font-size: 20px;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__title {
    height: 100%;
    align-self: start;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;

    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__link {
    @include transition(color);

    @include focus {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }

    @include hover {
      color: var(--text-accent-color);
    }
  }
}
