.discount {
  --offset: 20px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: var(--text-light-color);
  background-color: var(--discount-bg-color);
  border-radius: 50%;

  @include laptop {
    --offset: 10px;
  }

  @include tablet {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  @include mobile {
    --offset: 5px;
  }

  &--lt {
    left: var(--offset);
    top: var(--offset);
  }

  &--rb {
    right: var(--offset);
    bottom: var(--offset);
  }

  &--lb {
    left: var(--offset);
    bottom: var(--offset);
  }

  &--product {
    top: 20px;
    right: 50px;

    @include laptop {
      width: 66px;
      height: 66px;
      top: 10px;
      right: 30px;
      font-size: 20px;
    }

    @include tablet {
      width: 50px;
      height: 50px;
      font-size: 16px;
    }

    @include mobile {
      width: 32px;
      height: 32px;
      top: 5px;
      right: 5px;
      font-size: 12px;
    }
  }
}
