.post-card {
  position: relative;
  display: flex;
  column-gap: 30px;

  @include laptop {
    max-height: 140px;
    column-gap: 20px;
  }

  @include mobile {
    column-gap: 8px;
  }

  &:focus-within {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius-lg);
  }

  &__image {
    position: relative;

    & img {
      max-width: 195px;
      max-height: 195px;
      object-fit: cover;
      border-radius: var(--border-radius-lg);

      @include laptop {
        max-width: 140px;
        max-height: 140px;
      }

      @include mobile {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }

  &__content {
    padding-top: 13px;

    @include laptop {
      padding-top: 5px;
    }

    @include tablet {
      padding-top: 22px;
    }

    @include mobile {
      padding-top: 0;
    }
  }

  &__title {
    --countRows: 3;

    @include text-truncate(var(--countRows));
    font-weight: 400;
    font-size: clamp(18px, 0.875rem + 1.25vw, 38px);
    line-height: 1.3;
    color: var(--text-dark-color);

    @include laptop {
      line-height: 1.2;
    }

    @include mobile {
      --countRows: 2;
    }
  }

  &__link {
    @include transition(color);

    &:focus {
      outline: none;
    }

    @include hover() {
      color: var(--link-hover-color);
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}
