.product-card {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  row-gap: 30px;
  padding: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);

  @include laptop {
    max-width: 300px;
    padding: 25px 24px 26px 20px;
  }

  @include mobile-lg {
    max-width: 100vw;
    width: 100vw;
    margin-left: calc(-1 * var(--container-padding-x));
    margin-right: calc(-1 * var(--container-padding-x));
    padding: 25px 50px;
    border-radius: unset;
  }

  @include mobile {
    row-gap: 20px;
    font-size: 12px;
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 8px 24px;

    @include laptop {
      row-gap: 16px;
    }

    @include mobile-lg {
      max-width: 240px;
    }

    @include mobile {
      gap: 14px 18px;
    }
  }

  &__discounted-price {
    font-weight: 700;
    font-size: 36px;
    color: var(--text-accent-secondary-color);

    @include laptop {
      font-size: 28px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__non-discounted-price {
    font-size: 22px;

    @include laptop {
      font-size: 18px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__credit {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-accent-color);

    @include laptop {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__actions {
    display: flex;
    column-gap: 24px;
    align-items: center;

    @include laptop {
      column-gap: 20px;
    }

    @include mobile {
      column-gap: 16px;
    }
  }

  &__add-to-cart {
    padding: 17px 42px;
    font-weight: 700;

    @include laptop {
      padding: 12px 26px;
    }

    @include mobile {
      padding: 8px 18px;
    }
  }

  &__add-to-favorite {
    @include mobile {
      transform: scale(0.75);
    }

    &.active {
      color: var(--text-accent-secondary-color);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 74px;

    @include laptop {
      column-gap: 60px;
    }

    @include mobile {
      column-gap: 34px;
    }
  }

  &__info-label {
    margin-bottom: 5px;
    color: var(--text-gray-color);
  }

  &__notification {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
    font-weight: 700;

    @include laptop {
      column-gap: 10px;
      font-size: 14px;
    }

    @include mobile {
      column-gap: 6px;
      font-size: 8px;
    }

    & svg {
      @include laptop {
        transform: scale(0.9);
      }

      @include mobile {
        transform: scale(0.6);
      }
    }
  }
}
