.timer {
  min-height: 104px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: var(--text-light-color);

  @include laptop {
    min-height: 83px;
  }

  @include tablet {
    min-height: 65px;
  }

  @include mobile {
    min-height: 42px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 16px;

    @include laptop {
      margin-bottom: 10px;
    }

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      margin-bottom: 6px;
      font-size: 8px;
    }
  }

  &__time {
    display: inline-flex;
    column-gap: 30px;

    @include laptop {
      column-gap: 20px;
    }

    @include tablet {
      column-gap: 10px;
    }

    @include mobile {
      column-gap: 8px;
    }
  }

  &__number {
    font-size: 60px;

    @include laptop {
      font-size: 40px;
    }

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__units {
    font-size: 32px;

    @include laptop {
      font-size: 20px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 12px;
    }
  }
}
