.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.p-t-lg {
  padding-top: 50px;

  @include laptop {
    padding-top: 40px;
  }

  @include tablet {
    padding-top: 30px;
  }

  @include mobile {
    padding-top: 25px;
  }
}

.p-t-mdx {
  padding-top: 45px;

  @include laptop {
    padding-top: 30px;
  }

  @include tablet {
    padding-top: 25px;
  }

  @include mobile {
    padding-top: 20px;
  }
}

.p-t-md {
  padding-top: 40px;

  @include laptop {
    padding-top: 30px;
  }

  @include tablet {
    padding-top: 25px;
  }

  @include mobile {
    padding-top: 15px;
  }
}

.p-t-sm {
  padding-top: 30px;

  @include laptop {
    padding-top: 25px;
  }

  @include tablet {
    padding-top: 20px;
  }

  @include mobile {
    padding-top: 10px;
  }
}

.p-b-lg {
  padding-bottom: 150px;

  @include laptop {
    padding-bottom: 100px;
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include mobile {
    padding-bottom: 50px;
  }
}

.p-b-md {
  padding-bottom: 100px;

  @include laptop {
    padding-bottom: 80px;
  }

  @include tablet {
    padding-bottom: 60px;
  }

  @include mobile {
    padding-bottom: 40px;
  }
}

.p-b-smx {
  padding-bottom: 50px;

  @include laptop {
    padding-bottom: 40px;
  }

  @include tablet {
    padding-bottom: 30px;
  }

  @include mobile {
    padding-bottom: 25px;
  }
}

.p-b-sm {
  padding-bottom: 30px;

  @include laptop {
    padding-bottom: 25px;
  }

  @include tablet {
    padding-bottom: 20px;
  }

  @include mobile {
    padding-bottom: 10px;
  }
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.3;

  @include laptop {
    margin-bottom: 40px;
    font-size: 40px;
  }

  @include tablet {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @include mobile {
    margin-bottom: 25px;
    font-size: 20px;
  }

  &--md {
    margin-bottom: 40px;

    @include laptop {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 20px;
      font-size: 28px;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &--sm {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 10px;
      font-size: 28px;
    }

    @include mobile {
      margin-bottom: 6px;
      font-size: 18px;
    }
  }
}

.underline-link {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    @include transition(width);
  }

  @include hover {
    &:after {
      width: 100%;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}
