.social {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.social__link {
  display: block;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.social__link:focus {
  outline: none
}

.social__link:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (hover: hover) {
  .social__link:hover {
    color: var(--color-light-blue);
  }
}

/* Media */

@media (max-width: 800px) {
  .social {
    column-gap: 15px;
  }
}
