.timer {
  --colorText: var(--color-light);

  margin: 0 auto;
  text-align: center;
	color: var(--colorText);
}

.timer__title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}

.timer__time {
  display: inline-flex;
  column-gap: 30px;
}

.timer__segment {
  margin: 0;
}

.timer__number {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
}

.timer__units {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
}

/* Media */
@media (max-width: 1024px) {
  .timer__title {
    margin-bottom: 10px;
  }

  .timer__time {
    column-gap: 20px;
  }

  .timer__number {
    font-size: 40px;
  }

  .timer__units {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .timer__title {
    font-size: 12px;
  }

  .timer__time {
    column-gap: 10px;
  }

  .timer__number {
    font-size: 30px;
  }

  .timer__units {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .timer__title {
    margin-bottom: 6px;
    font-size: 8px;
  }

  .timer__time {
    column-gap: 8px;
  }

  .timer__number {
    font-size: 20px;
  }

  .timer__units {
    font-size: 12px;
  }
}
