.cart-summary {
  grid-area: summary;
  height: max-content;

  @include desktop-wide {
    max-width: 420px;
    width: 100%;
  }

  @include tablet {
    max-width: 100vw;
    width: 100vw;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;

    @include tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;

    @include tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__price {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__price-item {
    display: flex;
    justify-content: space-between;
    color: var(--text-gray-color);

    &:not(:last-child) {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 15px;
      }

      @include mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__delivery {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__delivery-header {
    margin-bottom: 10px;
  }

  &__delivery-text {
    font-style: normal;
    color: var(--text-gray-color);

    &:not(:last-child) {
      margin-bottom: 5px;

      @include tablet {
        margin-bottom: 10px;
      }
    }
  }

  &__full-width {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__date {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__label {
    font-weight: 700;

    @include mobile {
      font-size: 12px;
    }
  }

  &__value {
    font-weight: 700;
    color: var(--text-accent-color);

    @include mobile {
      font-size: 12px;
    }
  }

  &__payment {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__order-button {
    width: 100%;
    margin-bottom: 20px;
    padding-block: 15px;
    font-weight: 700;

    @include tablet {
      margin-bottom: 30px;
      font-size: 14px;
    }

    @include tablet {
      margin-bottom: 20px;
      font-size: 12px;
    }
  }

  &__terms {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__terms-checkbox {
    flex-shrink: 0;
  }

  &__terms-link {
    color: var(--text-gray-color);
  }
}
