.goods {
  padding: 50px 0 140px;

  @include laptop {
    padding: 45px 0 100px;
  }

  @include tablet {
    padding: 30px 0 80px;
  }

  @include mobile {
    padding: 35px 0 70px;
  }

  &--custom-padding {
    padding: 45px 0 100px;

    @include laptop {
      padding: 30px 0 90px;
    }

    @include tablet {
      padding: 25px 0 60px;
    }

    @include mobile {
      padding: 20px 0 120px;
    }
  }
}
