.product {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: var(--text-dark-color);

  @include laptop {
    font-size: 18px;
  }

  @include tablet {
    font-size: 16px;
  }

  @include mobile {
    font-size: 12px;
  }

  &__header {
    @include laptop {
      max-width: 620px;
    }

    @include tablet {
      max-width: 540px;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
    padding-top: 50px;
    border-top: 1px solid var(--gray-light);

    @include laptop {
      gap: 30px;
      margin-bottom: 50px;
    }

    @include tablet {
      gap: 20px;
      margin-bottom: 40px;
      padding-top: 34px;
    }

    @include mobile-lg {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile {
      margin-bottom: 30px;
      padding-top: 20px;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__image img {
    width: 757px;
    height: auto;
    object-fit: cover;
  }

  &__description {
    max-width: 1234px;
    width: 100%;

    @include laptop {
      max-width: 100%;
    }

    &-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.3;

      @include laptop {
        font-size: 24px;
      }

      @include tablet {
        margin-bottom: 10px;
        font-size: 18px;
      }

      @include mobile {
        margin-bottom: 6px;
        font-size: 16px;
      }
    }

    &-content {
      & p:not(:last-of-type) {
        margin-bottom: 20px;

        @include laptop {
          margin-bottom: 16px;
        }

        @include tablet {
          margin-bottom: 12px;
        }

        @include mobile {
          margin-bottom: 10px;
        }
      }
    }
  }
}
