.social {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--text-color-secondary);

  @include tablet {
    column-gap: 15px;
  }

  &__link {
    display: block;
    @include transition(color);

    @include focus {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }

    @include hover {
      color: var(--color-hover);
    }
  }
}
