.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: clamp(1.125rem, 0.725rem + 2vw, 3.125rem);
  line-height: 1.3;
  color: var(--text-color-primary);

  @include laptop {
    margin-bottom: 40px;
  }

  @include tablet {
    margin-bottom: 30px;
  }

  @include mobile {
    margin-bottom: 25px;
  }

  &--half-mb {
    margin-bottom: 25px;
  }

  @include laptop {
    margin-bottom: 20px;
  }

  @include tablet {
    margin-bottom: 10px;
  }

  @include mobile {
    margin-bottom: 6px;
  }
}
