.footer {
  padding: 80px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  color: var(--color-light);
  background-color: var(--bg-color-footer);
}

.footer__container {
  display: grid;
  grid-template-columns:
    190px
    minmax(50px, 118px)
    minmax(min-content, 480px)
    minmax(50px, 98px)
    minmax(min-content, 307px)
    minmax(50px, 127px)
    minmax(min-content, 307px);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'logo . catalog . customers . contacts'
    'copyright . . . . . author';
  row-gap: 50px;
}

.footer__logo {
  grid-area: logo;
  height: min-content;
}

.footer__catalog {
  grid-area: catalog;
}

.footer__customers {
  grid-area: customers;
}

.footer__contacts {
  grid-area: contacts;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__author {
  grid-area: author;
}

.footer__list {
  display: grid;
  gap: 15px 30px;
}

.footer__list--column {
  grid-template-columns: repeat(2, 1fr);
}

.footer__item {
  width: max-content;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}

.footer__address {
  margin-bottom: 36px;
  font-style: normal;
}

.footer__phone {
  width: max-content;
  margin: 0;
  margin-bottom: 21px;
}

.footer__email {
  width: max-content;
  margin: 0;
}

.footer__author-name {
  display: block;
  margin-bottom: 10px;
}

.footer__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
}

.footer__dropdown-title {
  display: none;
}

.footer__link {
  position: relative;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer__link:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;

  width: 0;
  height: 2px;

  background-color: currentColor;
  transition-property: width, background-color;
  transition-duration: inherit;
}

.footer__link:focus {
  outline: none;
}

.footer__link:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (hover: hover) {
  .footer__link:hover:after {
    width: 100%;
  }
}

.footer__link:active {
  color: var(--color-light-blue);
}

/* Media */

@media (max-width: 1400px) {
  .footer__container {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'logo logo logo'
      'catalog customers contacts'
      'copyright . author';
    column-gap: 50px;
  }
}

@media (max-width: 1200px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__list--column {
    grid-template-columns: unset;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 60px 0 44px;
  }

  .footer__container {
    gap: 60px 30px;
  }

  .footer__title {
    margin-bottom: 30px;
  }

  .footer__title-lg {
    margin-bottom: 35px;
  }
}

@media (max-width: 800px) {
  .footer {
    padding: 40px 0;
    font-size: 12px;
  }

  .footer__container {
    gap: 40px 20px;
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .footer__list {
    row-gap: 10px;
  }

  .footer__item {
    font-size: 16px;
  }

  .footer__address {
    margin-bottom: 30px;
  }

  .footer__phone {
    margin-bottom: 13px;
  }

  .footer__author-name {
    margin-bottom: 8px;
  }
}

@media (max-width: 640px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      'logo logo'
      'catalog catalog'
      'customers customers'
      'contacts contacts'
      'copyright author';
    row-gap: 30px;
  }

  .footer__title--mobile-hidden {
    display: none;
  }

  .footer__dropdown-content {
    max-height: 0;
    visibility: hidden;
    opacity: 0;

    transition-property: max-height, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .footer__dropdown-title {
    display: block;
    margin: 0;

    transition-property: rotate, margin-bottom;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .footer__dropdown-title:is(.active) {
    margin-bottom: 10px;
  }

  .footer__dropdown-title.active svg {
    rotate: 180deg;
  }

  .footer__dropdown-title.active ~ .footer__dropdown-content {
    max-height: 100%;
    visibility: visible;
    opacity: 1;
  }

  .footer__dropdown-button {
    display: flex;
    align-items: center;
    column-gap: 12px;

    font-weight: 700;
    font-size: 20px;

    color: currentColor;
  }

  .footer__dropdown-button:focus {
    outline: none;
  }

  .footer__dropdown-button:focus-visible {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 30px 0 20px;
    font-size: 10px;
  }

  .footer__list {
    row-gap: 8px;
  }

  .footer__item {
    font-size: 12px;
    line-height: 1.2;
  }

  .footer__address {
    margin-bottom: 23px;
  }

  .footer__phone {
    margin-bottom: 9px;
  }

  .footer__author-name {
    margin-bottom: 5px;
  }

  .footer__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
